# Python
.venv/
venv/
__pycache__/
*.pyc

# MkDocs build output
/site/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
